*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    animation: 1s;
    transition: 1s;
}
html{
    min-height: 100%;
}
body{
    /* background-image: url("./source/imagens/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    */
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}
main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: #13B25D;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    font-size: x-large;
}
header #logo{
    margin-right: auto;
    margin-left: 2%;
}

img{
    height: 55px;
    cursor: pointer;
}
.header-list{

}
.header-options{
    padding: 0px 15px 0px 15px;
    float: left;
    text-align: center;
    border-radius: 50px;
    border: #ebff1a;
    border-style: outset;
    color: blue;
}

.spaced{
    margin-top: 2.5%;
}



.teste{
    display: flex;
    margin: auto;
    background-color: #000000;
    width: 200px;
    height: 200px;
}
.hisoka-post{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}
#hisoka{
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
    width: 350px;
    height: 400px;
    border-radius: 25px;
    border: solid;
}
span{
    color: #d62cce;
}

.hisoka-text{
    max-width: 50%;
}

.texto{
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 35px;
}
.container{
    max-width: 1200px;
}
.netero-post{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

#netero-home{
    width: 650px;
    height: 300px;
    border-radius: 15px;
    margin-left: 5%;
}
.netero-text{
    max-width: 50%;
}
.eleição{
    color: #13B25D;
}
/* nen animation CSS START */
.animation{
    width: 500px;
    height: 350px;
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#reforço{
    position: absolute;
    top: 5%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100%;
    background: #188930;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 28px;
}
#reforço:hover{
    width: 60px;
    height: 60px;
    font-size: 33.6px;
    cursor: pointer;
}
#reforço-titulo{
    font-size: 50px;
}
#reforço-hiden{
    background-color: #188930;
    width: 100%;
    height: 350px;
    text-align: center;
    display: none;
    position: relative;
}
#reforço-users{
    position: absolute;
    left: 18%;
    top: -50%;
}
.uvogin-father-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 70%;
    top: 75%;
    position: absolute;
}
.container-div{
    position: relative;
    height: 75px;
    width: 75px;
    border:5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    
}
#uvogin{
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: -30%;
    top: 25%;
    transform: scale(1.5);
}
#nobunaga{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: -0%;
}
#phinks{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: -0%;
}
#gon{
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: -70%;
}
#netero{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: -5%;
}


#transformação{
    position: absolute;
    top: 25%;
    left: 70%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100%;
    background: #bb00c5;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 28px;
}
#transformação:hover{
    width: 60px;
    height: 60px;
    font-size: 33.6px;
    cursor: pointer;
}
#transformação-hiden{
    display: none;
    background-color: #bb00c5;
    width: 100%;
    text-align: center;
}
#conjuração{
    position: absolute;
    top: 65%;
    left: 70%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100%;
    background: #da0018;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 28px;
}
#conjuração:hover{
    width: 60px;
    height: 60px;
    font-size: 33.6px;
    cursor: pointer;
}
#conjuração-hiden{
    display: none;
    background-color: #da0018;
    width: 100%;
    text-align: center;
}
#especialização{
    position: absolute;
    top: 90%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100%;
    background: #0070b9;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 28px;
}
#especialização:hover{
    width: 60px;
    height: 60px;
    font-size: 33.6px;
    cursor: pointer;
}
#especialização-hiden{
    display: none;
    background-color: #0070b9;
    width: 100%;
    text-align: center;
}
#manipulação{
    position: absolute;
    top: 65%;
    right: 70%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100%;
    background: #c1c1c1;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 28px;
}
#manipulação:hover{
    width: 60px;
    height: 60px;
    font-size: 33.6px;
    cursor: pointer;
}
#manipulação-hiden{
    display: none;
    background-color: #c1c1c1;
    width: 100%;
    text-align: center;
}
#emissão{
    position: absolute;
    top: 25%;
    right: 70%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100%;
    background: #e7bd00;
    width: 50px;
    height: 50px;    
    text-align: center;
    font-size: 28px;
}
#emissão:hover{
    width: 60px;
    height: 60px;
    font-size: 33.6px;
    cursor: pointer;
}
#emissão-hiden{
    display: none;
    background-color: #e7bd00;
    width: 100%;
    text-align: center;
}

.nen-central{
    width: 100px;
    height: 90px;

}
/* nen animation CSS END */


footer{
    position: relative;
    left: 0;
    bottom: -100px;
    height: 70px;
    width: 100%;
    background-color: #13B25D;
    color: white;
    text-align: center;
    margin-top: 50px;
}